@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    --cor-primaria: #BAC2AF;
    --cor-secundaria: black;
    --cor-terciaria: #C09484;
   }
.dark{
    --cor-primaria: #4E0400;
    --cor-secundaria: white;
    --cor-terciaria: #315400;
}
div.container{
    display: grid;
    width: 100%;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "article"
                         "footer";
}   
header{
    grid-area: header;
}
article{
    grid-area: article;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
section{
    text-align: center;
    margin: 20px;
    padding: 5px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    border-radius: 15px;
    transition: background-color 2s, color 2s;
}
footer{
    grid-area: footer;
    text-align: center;
}
body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    transition: background-color 2s, color 2s;  
    font-family: "Josefin Sans", sans-serif;

}

h1{
    text-align: center;
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(2rem, 1.192rem + 3.289vw, 4rem);
}
h2{
    text-align: center;
    font-size: clamp(0.75rem, 0.447rem + 1.233vw, 1.5rem);
}
ul{
    display: block;
    list-style: none;
    padding-left: 0;
    text-align: left;
    margin: 0 auto;
    width: fit-content;
}
img{
    width: 200px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
section.myself{
    border-radius: 15px;
}
button{
    border-radius: 15px;
    font-size: 30px;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    transition: background-color 2s, color 2s;  
}
#darkMode{
    display: block;
    margin: auto;
    margin-top: 5px;
}
button:hover{
    cursor: pointer;
}
.github-icon, .instagram-icon{
    color: #d10900;
    font-size: 30px;
    margin: 20px;
    transition: transform 0.2s ease;
}
.github-icon:hover, .instagram-icon:hover {
    transform: scale(1.2);
}
a{
    text-decoration: none;
    color: inherit;
}
.icones{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px){
    article{
        grid-area: article;
        display: grid;
        grid-template-columns: 1fr;
    }
}